@import "tailwindcss";

@media (min-width: 576px) {
    .project-container {
        padding: 0 20px;
    }
}

.project-container {
  border-color: black;
  width: 92%; 
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto; 
  padding: 1rem;
  border: 1px solid #ccc;
  font-size: 1rem;
}
